@import '../../app/styles/index.styl'

.modal-search
    background var(--white)
    border-radius 16px
    padding 1.5rem
    gap .5rem

.modal-search-content
    gap 1rem

.modal-search-field
    gap 8px
    .text-sm
        color var(--text-secondary)
        font-size 14px

.modal-search-btns
    margin-top .5rem
    gap .75rem

.modal-search-container > .modal-window
    max-width: 25rem
    width 100%

    @media (max-width: sm)
        width 90vw
