@import '../../app/styles/index.styl'

.modal-folder
    background: var(--white)
    padding: 1.25rem 1.5rem
    border-radius: 15px
    gap: 1rem

    &-container > .modal-window
        max-width: 25.3125rem
        width 100%

        @media screen and (max-width: sm)
            max-width: auto
            width 90vw

    &-btns-container
        gap: .5rem

    & > footer
        width 100%
        