.search-container
  gap: 3.3125rem
  padding 40px 0px
  font-family sans-serif

.results-label
  font-size 16px
  font-weight 500
  color #030303
  margin-bottom 8px
  display block

.search-title
  font-size 24px
  font-weight 600
  margin-right: 2rem
  color #000  

.cards-list
  height: calc(100% - 3px)
  display flex
  flex-direction column
  gap 70px
