.profile-avatar
    font-size: 6rem
    width 11.375rem
    font-weight: 600
    height: 11.375rem
    position relative
    border-radius: 50%
    color: var(--white)
    background: var(--primary)
    text-transform: capitalize

    &-btn
        right: 0
        bottom: 0
        width 36px
        height: 36px
        cursor pointer
        border-radius: 50%
        position: absolute
        transition: .3s ease
        background: var(--white)
        box-shadow: var(--box-shadow)
        &:hover
            background: var(--grey-light)
