.app.light
    --white #fff
    --black #000
    --grey #ADB5BD
    --blue #1C7ED6
    --error #FA5252
    --green: #099268
    --yellow: #FFD43B
    --black-2 #030303
    --white-2 #F3F0FF
    --primary #5F3DC4
    --dark-red: #c92a2a
    --secondary #D0BFFF
    --light-blue #D0EBFF
    --grey-light #DEE2E6
    --grey-light-2 #F9FAFB
    --white-light: #F0F0F0
    --yellow-light: #FFE066
    --primary-light #7950F2
    --tertiary-light #F9F5FF
    --secondary-light #E5DBFF
    --primary-light-2 #9775FA
    --black-25 rgba(0,0,0,0.25)
    --black-15 rgba(0,0,0,0.15)
    --extra-light-grey rgba(0,0,0,.05)
