@import "../../../app/styles/index.styl"

.title
    &-primary
        font-size: 2rem
        font-weight: 500
    &-welcome
        font-size: 2.5rem
        font-weight: 500
    &-auth
        font-size: 3rem
        font-weight: 500
        color: var(--primary)
    &-small
        font-size: 1.5rem
        font-weight: 500
    &-small-2
        font-size: 1.25rem
        font-weight: 500
        @media (max-width sm)
            font-size: 1rem
    &-small-3
        font-size: 1.125rem
        font-weight: 500
    
    &-semibold
        font-weight: 600
