@import "../../../../../app/styles/index.styl"

.check-pronunciation
    width 100%
    gap: 1rem

    &-feedback-container
        gap: 0.5rem

    &-feedback-text
        margin-top: 1rem
        font-weight: 500
        color: var(--primary)

    &-feedback-line
        width 100%
        text-transform: capitalize

        &-result
            width 36px
            height: 36px
            border-radius: 50%
            font-size: 0.875rem
            background: var(--green)

    &-btn
        width 100%
        gap: 0.5rem
        font-size: 0.875rem
        padding: 0.8125rem 0

