.setting-item
    gap: .5rem
    width 100%

    &-icon-title-container
        display: flex
        gap: 1rem

        .icon-wrapper
            align-self: flex-start

    &-description
        font-size: .75rem
        color: var(--grey)

    &-title-description-container
        display flex
        gap: .25rem