.confirm-email

    & .title-auth
        font-size: 2.25rem

    &-message
        color: var(--grey)
        text-align: center

        &-email
            color: var(--primary)
            font-weight: 600
    