.auth-panel
    gap: 1.25rem
    flex: 1
    &-form
        width 100%
        gap: 1.25rem

    &-title
        font-size: 3rem
        font-weight: 500
        color: var(--primary)

    &-extra-link
        cursor pointer
        font-weight: 600
        font-size: 0.875rem
        color: var(--primary-light-2)
    &-bottom-extra-link
        text-align: center
