black=#000

.file-input-label
    font-size: 1rem
    font-weight: 500
    border-radius: 5px
    padding: 0.625rem 1rem
    border: 1px solid var(--grey)

    &-reset
        padding: 0
        border: none

    &-placeholder
        font-weight: 500
        color: var(--grey)

.file-input-error-wrapper
    gap: .25rem