@import "../../app/styles/index.styl";

.modal-set
    & > .modal-window
        background: var(--white)
        flex-direction: column
        max-width: 33.1875rem
        border-radius: 15px
        padding: 1.25rem
        display: flex
        gap: 1rem 
        width: 100%

        @media screen and (max-width: sm)
            width 90%
        