@import "../../../../app/styles/index.styl";

.study-page
    &-variants
        max-width: 66.4375rem
        width 100%
        gap: 2rem

        &-progress
            gap: 2rem

            &-next
                gap: .5rem
                transition: all .3s ease
            
            & > &-next-hover, &-next-hover .icon
                color: var(--primary)
                fill: var(--primary)
                opacity 1

            span
                font-weight: 500
                opacity .5

            & .line
                flex: 0 1 24.375rem
        
        &-card
            box-shadow: var(--default-shadow)
            padding: 2rem 3.5rem
            border-radius: 15px
            gap .5rem

            @media screen and (max-width lg)
                padding: 1rem

            & > span
                opacity .5
                font-size: 1.25rem

                @media screen and (max-width lg)
                    font-size: 1rem
            
            &-info
                gap: 5.13vw

                &-container
                    gap: 1.25rem

                & > p
                    height: 9rem
                    overflow-y: auto
                    font-size: 1.25rem
                    line-height: 1.75rem

                    @media screen and (max-width lg)
                        font-size: 1rem

                &-image
                    width 18.75rem
                    height: 13.375rem
                    object-fit: cover
                    border-radius: 20px

                    @media screen and (max-width lg)
                        width 45%
                        height: 100%
            
            &-btns-container
                & > button
                    flex: 1 1 calc(50% - 1.75rem)
                    font-size: 1.125rem
                    font-weight: 600

                    @media screen and (max-width lg)
                        font-size: .875rem

                display: flex
                flex-wrap: wrap
                row-gap: 1.25rem
                column-gap: 1.75rem

                @media screen and (max-width lg)
                    flex-wrap: nowrap
                    flex-direction: column
