.three-dots-container
    height: 100%
    display: flex
    transition: opacity .3s ease-in-out

    &-variant
        &-default
            gap: .25rem
        &-small
            gap: .125rem

.dot-item
    width 4px
    height: 4px
    border-radius: 50%
    background: var(--black)
