.modal-set-settings-main
    padding: 1.5rem

    &-restart-btn
        gap: .5rem
        font-weight: 600

        &-warning
            font-weight: 600
            font-size: .75rem
            color: var(--primary)
        
        &-container
            gap: .75rem
            padding: 1.5rem
            border-radius: 8px
            background: var(--secondary)

    &-divider
        width 100%
        height: 1px
        background: var(--grey)

    &-container
        gap: 1.25rem