openai-whisper==20231117
transformers>=4.45.0
librosa>=0.9.2
torch>=2.6.0
torchaudio>=2.6.0

ffmpeg-python
pydub
phonemizer

python-Levenshtein
protobuf<=3.20.0
python-dotenv

flask
gunicorn

llama-cpp-python==0.3.16

huggingface_hub<=0.25.2
diffusers==0.27.2
optimum-intel[openvino]
pillow

cefrpy
