.study-page-phonetic
    &-text
        font-size: .875rem
    
    &-speaker
        position relative
    
        &-variant
            top: -4px
            right: -2px
            font-size: 6px
            font-weight: 600
            position: absolute
            color: var(--primary)
